@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Bulgaria<br />
    Dobrich<br />
    <abbr title="Phone">Phone:</abbr>
    +359 883 542478
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:nikolaiweselinow@yahoo.com">nikolaiweselinow@yahoo.com</a><br />    
</address>