@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Auto service management system</h1>
    <p>This application will help you keep track of your customers and their cars'repairs history.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Change the way you manage your business.</h2>
        <p>
            Our advanced statistics will help you easily analyze your spendings and profits like never before.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Find the best replacement parts and supplier.</h2>
        <p>After using our product for a while, you will be able to identify the most suitable suppliers for your bussines needs.</p>
    </div>
    <div class="col-md-4">
        <h2>Scale your business.</h2>
        <p>This application was developed for small businesses in mind. 
        We turn the tedious work of documenting your clients`cars history into a more pleasureable expereince.</p>
    </div>
</div>